# Python Bytecode
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
dist/
build/

# PyInstaller
#  Usually these files are written by a python script from a .spec file
*.spec
*.exe
*.out

# Pygame specific files
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.svg

# Logs
*.log

# IDE specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS specific files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.swp
